.app-nav{
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.app-nav i{

    color: #000;
    font-size: 20px;
}

.app-nav .logo{
   
   width: 33.33% ;
}

.app-nav .logo .fa-bars {

    padding-right: 10%;
    padding-left: 10%;
    color: black;

}

.app-nav .logo span{

    text-transform: capitalize;
    font-weight: bold;
    color: #000;
    padding: 13px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    word-spacing: -4px;
    position: relative;
    top: -2px;
    margin-left: -6px;

}


.app-nav .logo i{

    font-size: 26px;
    color: red;
  
}

.searchbar{

  width:  33.33%;
 flex-wrap: nowrap;
  align-items: flex-start;

}


.nav-icons{

    position: absolute;
    right: 3%;
    top: 8px;
    margin-top: 5px;
}

ul{
    list-style: none;
}

.nav-icons ul{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.nav-icons ul li{

    padding-left: 15px;
    padding-right: 15px;
    color: black;
}

 .searchbar input {

      width: 90%;
      position: relative;
    padding: 5px;
    margin-top: 5px;
}

.searchbar button{
    position: absolute;
    margin-top: 4px;
    height: 30px;
    width: 4%;
}



/* This is the choose language section */
