.app-nav{
    display: flex;
    margin-top: 5px;
}

.app-nav i{

    color: #000;
    font-size: 20px;
}

.app-nav .logo{
   flex: 2;
}

.app-nav .logo .fa-bars {

    padding-right: 50px;
    padding-left: 20px;
    color: black;
    position: relative;
    top: -6px;

}

.app-nav .logo span{

    text-transform: capitalize;
    font-weight: bold;
    color: #000;
    padding: 13px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    word-spacing: -4px;
    position: relative;
    top: -2px;
    margin-left: -6px;

}


.app-nav .logo i{

    font-size: 26px;
    color: red;
  
}

.app-nav .logo img{

    height: 35px;

}

.searchbar{

    flex: 4;
    
 
}

.nav-icons{

    flex: 1;
   
}

ul{

    list-style: none;

}

.nav-icons ul{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.nav-icons ul li{

    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

 .searchbar input {

     width: 80%;
      position: relative;
      padding: 5px;
   
}

.searchbar button{
    
    position: absolute;
    height: 29px;
    width: 50px;
}



/* BODY SECTION */

.you-tube-clone-body {
    display: flex;
    padding-top: 30px;
    height: 100vh;
    padding-left: 50px;
}

.video-section{

    flex: 2;
   
}

.upnext-thumbnails{

    flex: 1;

}
.upnext-thumbnails img{

    width: 150px;

}

.upnext-thumbnails ul{

    padding-top: 20px;

}

.upnext-thumbnails li{

    min-height: 115px;
}

.upnext-thumbnails span{
    text-align: left;
    margin-left: 35px;
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
}

.upnext-thumbnails h2{

    text-align: right;
    margin-top: -30px;
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
}

.upnext-thumbnails li span{

    font-family: 'Rubik', sans-serif;
    margin: -106px 0px 0px 160px;
    display: -webkit-box;

    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 1.6rem;
    text-transform: capitalize;
}

.upnext-thumbnails p{

    font-size: 14px;
    color: #848484ee;
    font-weight: 400;
    text-align: center;
    margin-left: 60px;
}

.upnext-thumbnails li .views{

    margin-top: 0px;
    font-weight: 400;
    color: #a59f9f;
    font-size: 12px;
    margin-left: -6px;

}



.video-section h3{

    text-transform: capitalize;
    font-weight: 400;
    font-size: 23px;
    font-family: 'Rubik', sans-serif;

}

.pull-left{

    float: left;
    font-weight: 400;
    color: #a59f9f;
    font-family: 'Rubik', sans-serif;
}

.pull-right{

    float: right;
}

.ratings-icons {

    display: flex;
    flex-wrap: nowrap;
    
}

.ratings-icons  li{
    font-size: 20px;
    color: #9c9797;
    position: relative;
    top: -14px;
    padding-left: 20px;
    padding-right: 20px;
}

.avatar{

    border-top: 1px solid #decfcf;
    margin-top: 80px;
    
}

.ratings-icons button{
    color: #9c9797;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}


.avatar img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
   
}

.avatar .pull-left{

    padding-top: 10px;
    padding-bottom: 10px;

}
.avatar .pull-right{

    padding-top: 10px;
    padding-bottom: 10px;

}

.avatar .pull-left span{

    font-family: 'Rubik', sans-serif;
    color: #000;
    padding: 30px;
    font-weight: 600;
    text-transform: capitalize;

}

.avatar .pull-left p{

    text-align: center;
    margin-left: 80px;
    margin-top: -10px;
    font-size: 12px;
    text-transform: capitalize;

}
.avatar button{

    margin-top: 10px;
    background: #bd2222;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}


/* === MEDIA QUERIES === */

@media screen and (min-width: 1400px){

    body{
        padding-left: 10%;
        padding-right: 10%;
    }


}
@media screen and (max-width: 1125px) {
    body {
         
        overflow-x: hidden;
    
    }
   .you-tube-clone-body{
             
    flex-direction: column;

   }

   .item{

    width: 100%;
      
   }

   .upnext-thumbnails {

    margin-top: 25px;

   }
   .upnext-thumbnails p{
    text-align: left;
    position: relative;
    left: 104px;
   }

   .upnext-thumbnails .views{


    left: 172px;
   }

   .upnext-thumbnails ul{
    padding-left: 0;
   }
  }


  